
* { 
	/*
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	*/
	font-family: "Lucida Console", Monaco, monospace;
	 }
h1, h2, h3 { 
	line-height: 30px;
	text-transform: uppercase;
	color: #343434; 
	font-size: 30px;
	
}

body { 

	/* 
	font-family: Verdana, sans-serif;
	
	color: #ee3e80;
	*/

	color: #253529  ;
	padding-right: 200px;
	padding-left: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(250,250,250);
	 }


#logo {
	text-align: center;
	margin: 10px auto 25px auto;
}
#subtitle {
	letter-spacing: 2px;
	font-size: 30px;
	text-decoration: none;
}
#text {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 30px;
	vertical-align: middle;
	color: #343434;
	letter-spacing: 2px;
}
#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 30px;
	background-color: #343434;
	animation: blink .75s step-end infinite;
}
@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}
#content {
	
}

ul {
	float: right;
	text-align: right;
	width: 250px;
}
li {
	display: inline;
	margin: 0px 10px;
	}
a {
	color: #253529;
	text-transform: uppercase;
	text-decoration: none;
}
a:hover, a.on {
	color: #cc3333;
}
img {

  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
table, tr, th {
	padding: 10px;
}
th {
	font-weight: normal;
}
.footer {
	font-size: 12px;
	border: 1px solid #665544;
	background-color: #efefef; 
	}
