body {
    display: flex;
    font-family: "Crimson Text";
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

#game {
    display: inline-grid;
    grid-template-columns: repeat(4, min(15vh, 15vw));
    grid-template-rows: repeat(4, min(15vh, 15vw));
    grid-gap: min(1vh, 1vw);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
    border-radius: 10%;
    font-size: larger;
}

#popup {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #66cdaa;
    position: fixed;
    z-index: 1;
    width: auto;
    height: auto;
    border-radius: 20px;
    border: solid teal;
    text-align: center;
}

#submit_sum {
    visibility: hidden;
}

sup { 
    vertical-align: super;
    font-size: smaller; 
}