body {
  background-color: #FDF4F1;
  font-family: 'Patrick Hand SC', monospace;
  text-align: center;
  font-size: 2.5vh;
}

a {
  text-decoration: none;
  color: #000022;
}

img {
  width: 20vw;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
}

.navlink {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0vh 2vw;
}

.navlink img {
  width: 5vw;
  margin: 0%;
}

.navlink p {
  margin: 0%;
}

#resume ul:first-child{
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

#resume li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#resume p {
  text-overflow: ellipsis;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
li {
  margin: 2vh;
}

.proj {
  color: #5c4b51;
  background: rgb(245,230,199);
  background: linear-gradient(180deg, rgba(245,230,199,1) 70%, rgba(246,196,178,1) 100%);
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 75vw;
  }
  #nav {
    justify-content: space-around;
  }
  .navlink img {
    width: 13vw;
    margin: 0%;
  }  
  #resume ul:first-child{
    flex-direction: column;
    align-items: left;
    margin: 0vh 10vw;
  }
  ul {
    flex-direction: column;
  }
  li {
    margin: 2vh;
  }
}